# Exercícios Pandas

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia térmica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [13]:
import pandas as pd
import numpy as np

series = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index= ['1900', '1920', '1940', '1960', '1980', '2000', '2020'], name='Anomalia térmica')
series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia térmica, dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [16]:
series2 = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index= ['1900', '1920', '1940', '1960', '1980', '2000', '2020'], name='Anomalia térmica')
series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia térmica, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [ ]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

series3 =

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [ ]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [ ]:
#seu código aqui

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [ ]:
# seu código aqui

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [ ]:
# seu código aqui

#### 8) Análise de Vendas de Jogos Eletrônicos com Pandas

1. Baixe o dataset **"Venda de jogos"** (Video Game Sales), que contém dados sobre jogos com mais de 100.000 cópias vendidas.

- Baixe a base: [Clique aqui para baixar o arquivo](https://drive.google.com/file/d/1LTQSnw4ft90OCA7k2OwPw71MGY52FrSI/view?usp=sharing)

A fonte original é o site [vgchartz.com](https://www.vgchartz.com).

2. Carregue os dados usando a biblioteca `pandas`.
3. Responda às perguntas abaixo com base na sua análise.

#### Dicionário de Dados - Venda de Jogos

Este dicionário descreve cada uma das colunas presentes no dataset de vendas de jogos eletrônicos.

| Coluna         | Tipo de Dado     | Descrição                                                                 |
|----------------|------------------|---------------------------------------------------------------------------|
| `Rank`         | Inteiro          | Posição no ranking geral de vendas globais.                              |
| `Name`         | Texto (string)   | Nome do jogo.                                                             |
| `Platform`     | Texto (string)   | Plataforma em que o jogo foi lançado (ex: PS4, PC, Xbox One, etc.).      |
| `Year`         | Numérico (float) | Ano de lançamento do jogo.                                               |
| `Genre`        | Texto (string)   | Gênero do jogo (ex: Action, Sports, RPG, etc.).                          |
| `Publisher`    | Texto (string)   | Empresa responsável pela publicação do jogo.                             |
| `NA_Sales`     | Numérico (float) | Vendas na América do Norte (em milhões de unidades).                     |
| `EU_Sales`     | Numérico (float) | Vendas na Europa (em milhões de unidades).                               |
| `JP_Sales`     | Numérico (float) | Vendas no Japão (em milhões de unidades).                                |
| `Other_Sales`  | Numérico (float) | Vendas no restante do mundo (exceto NA, EU e JP), em milhões de unidades.|
| `Global_Sales` | Numérico (float) | Total de vendas globais (em milhões de unidades).                        |


---

## Perguntas

1. **Qual foi o gênero de jogo com o maior volume de vendas globais (`Global_Sales`)?**  
   *Dica:* Use `groupby` com a coluna `Genre` e some as vendas globais.

2. **Quais são as 5 plataformas com maior média de vendas na América do Norte (`NA_Sales`)?**  
   *Dica:* Use `groupby` na coluna `Platform` e calcule a média de `NA_Sales`.

3. **Qual publisher lançou o maior número de jogos entre os anos de 2000 e 2010?**  
   *Dica:* Filtre as linhas com `Year` entre 2000 e 2010 e conte os jogos por `Publisher`.

4. **Existe alguma relação aparente entre as vendas no Japão (`JP_Sales`) e o gênero do jogo?**  
   *Dica:* Compare as médias ou medianas de `JP_Sales` por `Genre` e descreva o que observou.

---