# Exercícios Pandas

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia térmica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [31]:
import pandas as pd
import numpy as np

series = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index= ['1900', '1920', '1940', '1960', '1980', '2000', '2020'], name='Anomalia térmica')
series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia térmica, dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [16]:
series2 = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index= ['1900', '1920', '1940', '1960', '1980', '2000', '2020'], name='Anomalia térmica')
series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia térmica, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [23]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

series3 = pd.Series(dic_temperaturas, name='Temperaturas')
series3

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Temperaturas, dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [50]:
arr = np.random.normal(100, 10, (20,3))
arr

df = pd.DataFrame(arr)
df

             0           1           2
0    99.095412  106.608657  104.168501
1   113.069756   94.838477  100.911909
2   123.292673   92.783503   97.249127
3   121.089270  129.279519   83.774287
4   108.811543  108.909152   90.949766
5    97.681755   78.099617   98.031634
6   105.724159  105.173760   98.911404
7   102.022431   95.054785  117.243707
8   116.750163   90.767657   88.802904
9    71.841302   99.613097  101.252008
10  119.601152  100.977940  104.732373
11   98.767781   95.802411  101.721064
12  104.887760   87.109977   99.479290
13  104.074557  105.956405  102.779152
14  100.377263   88.622912  104.687025
15   81.646385  101.830043  108.889786
16  102.002733  111.252220  108.336689
17  103.217129   90.759895  105.841841
18   81.849941   97.671740  105.574911
19   97.270902  105.351242  107.147843

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [51]:
df.columns = ['X1', 'X2', 'X3']
df.index = range(1, 21)
df

            X1          X2          X3
1    99.095412  106.608657  104.168501
2   113.069756   94.838477  100.911909
3   123.292673   92.783503   97.249127
4   121.089270  129.279519   83.774287
5   108.811543  108.909152   90.949766
6    97.681755   78.099617   98.031634
7   105.724159  105.173760   98.911404
8   102.022431   95.054785  117.243707
9   116.750163   90.767657   88.802904
10   71.841302   99.613097  101.252008
11  119.601152  100.977940  104.732373
12   98.767781   95.802411  101.721064
13  104.887760   87.109977   99.479290
14  104.074557  105.956405  102.779152
15  100.377263   88.622912  104.687025
16   81.646385  101.830043  108.889786
17  102.002733  111.252220  108.336689
18  103.217129   90.759895  105.841841
19   81.849941   97.671740  105.574911
20   97.270902  105.351242  107.147843

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [52]:
df['media'] = df.mean(axis=1)
df

            X1          X2          X3       media
1    99.095412  106.608657  104.168501  103.290857
2   113.069756   94.838477  100.911909  102.940048
3   123.292673   92.783503   97.249127  104.441768
4   121.089270  129.279519   83.774287  111.381025
5   108.811543  108.909152   90.949766  102.890154
6    97.681755   78.099617   98.031634   91.271002
7   105.724159  105.173760   98.911404  103.269774
8   102.022431   95.054785  117.243707  104.773641
9   116.750163   90.767657   88.802904   98.773574
10   71.841302   99.613097  101.252008   90.902136
11  119.601152  100.977940  104.732373  108.437155
12   98.767781   95.802411  101.721064   98.763752
13  104.887760   87.109977   99.479290   97.159009
14  104.074557  105.956405  102.779152  104.270038
15  100.377263   88.622912  104.687025   97.895733
16   81.646385  101.830043  108.889786   97.455405
17  102.002733  111.252220  108.336689  107.197214
18  103.217129   90.759895  105.841841   99.939622
19   81.849941   97.671740  105.574911   95.032197
20   97.270902  105.351242  107.147843  103.256662

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [53]:
df['log_med'] = np.log(df['media'])
df

            X1          X2          X3       media   log_med
1    99.095412  106.608657  104.168501  103.290857  4.637549
2   113.069756   94.838477  100.911909  102.940048  4.634147
3   123.292673   92.783503   97.249127  104.441768  4.648630
4   121.089270  129.279519   83.774287  111.381025  4.712957
5   108.811543  108.909152   90.949766  102.890154  4.633662
6    97.681755   78.099617   98.031634   91.271002  4.513833
7   105.724159  105.173760   98.911404  103.269774  4.637345
8   102.022431   95.054785  117.243707  104.773641  4.651802
9   116.750163   90.767657   88.802904   98.773574  4.592830
10   71.841302   99.613097  101.252008   90.902136  4.509783
11  119.601152  100.977940  104.732373  108.437155  4.686171
12   98.767781   95.802411  101.721064   98.763752  4.592731
13  104.887760   87.109977   99.479290   97.159009  4.576349
14  104.074557  105.956405  102.779152  104.270038  4.646984
15  100.377263   88.622912  104.687025   97.895733  4.583903
16   81.646385  101.830043  108.889786   97.455405  4.579395
17  102.002733  111.252220  108.336689  107.197214  4.674670
18  103.217129   90.759895  105.841841   99.939622  4.604566
19   81.849941   97.671740  105.574911   95.032197  4.554216
20   97.270902  105.351242  107.147843  103.256662  4.637218

#### 8) Análise de Vendas de Jogos Eletrônicos com Pandas

1. Baixe o dataset **"Venda de jogos"** (Video Game Sales), que contém dados sobre jogos com mais de 100.000 cópias vendidas.

- Baixe a base: [Clique aqui para baixar o arquivo](https://drive.google.com/file/d/1LTQSnw4ft90OCA7k2OwPw71MGY52FrSI/view?usp=sharing)

A fonte original é o site [vgchartz.com](https://www.vgchartz.com).

2. Carregue os dados usando a biblioteca `pandas`.
3. Responda às perguntas abaixo com base na sua análise.

#### Dicionário de Dados - Venda de Jogos

Este dicionário descreve cada uma das colunas presentes no dataset de vendas de jogos eletrônicos.

| Coluna         | Tipo de Dado     | Descrição                                                                 |
|----------------|------------------|---------------------------------------------------------------------------|
| `Rank`         | Inteiro          | Posição no ranking geral de vendas globais.                              |
| `Name`         | Texto (string)   | Nome do jogo.                                                             |
| `Platform`     | Texto (string)   | Plataforma em que o jogo foi lançado (ex: PS4, PC, Xbox One, etc.).      |
| `Year`         | Numérico (float) | Ano de lançamento do jogo.                                               |
| `Genre`        | Texto (string)   | Gênero do jogo (ex: Action, Sports, RPG, etc.).                          |
| `Publisher`    | Texto (string)   | Empresa responsável pela publicação do jogo.                             |
| `NA_Sales`     | Numérico (float) | Vendas na América do Norte (em milhões de unidades).                     |
| `EU_Sales`     | Numérico (float) | Vendas na Europa (em milhões de unidades).                               |
| `JP_Sales`     | Numérico (float) | Vendas no Japão (em milhões de unidades).                                |
| `Other_Sales`  | Numérico (float) | Vendas no restante do mundo (exceto NA, EU e JP), em milhões de unidades.|
| `Global_Sales` | Numérico (float) | Total de vendas globais (em milhões de unidades).                        |


---

## Perguntas

1. **Qual foi o gênero de jogo com o maior volume de vendas globais (`Global_Sales`)?**  
   *Dica:* Use `groupby` com a coluna `Genre` e some as vendas globais.

2. **Quais são as 5 plataformas com maior média de vendas na América do Norte (`NA_Sales`)?**  
   *Dica:* Use `groupby` na coluna `Platform` e calcule a média de `NA_Sales`.

3. **Qual publisher lançou o maior número de jogos entre os anos de 2000 e 2010?**  
   *Dica:* Filtre as linhas com `Year` entre 2000 e 2010 e conte os jogos por `Publisher`.

4. **Existe alguma relação aparente entre as vendas no Japão (`JP_Sales`) e o gênero do jogo?**  
   *Dica:* Compare as médias ou medianas de `JP_Sales` por `Genre` e descreva o que observou.

In [46]:
# Montando o Drive
from google.colab import drive
drive.mount('/content/drive')

# Caminho do diretório escolhido
path = "/content/drive/MyDrive/DataScience-2025"

Mounted at /content/drive

In [54]:
# Leitura do arquivo
df_vgsales = pd.read_csv(path + '/vgsales.csv', sep=',')

# Mostrando as 10 primeiras linhas
df_vgsales.head(10) # ou .tail para ver o final

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [104]:
# Qual foi o gênero de jogo com o maior volume de vendas globais (Global_Sales)?
# Dica: Use groupby com a coluna Genre e some as vendas globais.


globalSales = df_vgsales.groupby('Genre')['Global_Sales'].sum()
globalSales.sort_index()

globalSales.head(1)

# receba = df_vgsales['Genre'].value_counts()
# receba.sort_index()


# -> Resposta: Acao

Genre
Action    1751.18
Name: Global_Sales, dtype: float64

In [140]:
# Quais são as 5 plataformas com maior média de vendas na América do Norte (NA_Sales)?
# Dica: Use groupby na coluna Platform e calcule a média de NA_Sales.


maiorMedia=df_vgsales.groupby('Platform')['NA_Sales'].mean()

maiorMedia.sort_values(ascending = False).head(5)

Platform
NES     1.285102
GB      1.166531
GEN     0.713704
2600    0.681203
X360    0.475138
Name: NA_Sales, dtype: float64

In [171]:
# Qual publisher lançou o maior número de jogos entre os anos de 2000 e 2010?
# Dica: Filtre as linhas com Year entre 2000 e 2010 e conte os jogos por Publisher

filtro = df_vgsales[(df_vgsales['Year'] >= 2000) & (df_vgsales['Year'] <= 2010)]['Publisher'].value_counts().sort_values(ascending=False)
filtro.head(1)

Publisher
Electronic Arts    979
Name: count, dtype: int64

---